/.vs
/.idea/workspace.xml
/.idea/sonarIssues.xml
/.idea/jsonSchemas.xml
/.scannerwork
/.sonarqube
/*.srctrl*
/out
/compileData.scor
/CMakeLists.txt.user
/CMakeUserPresets.json

.vscode

.build
build/**

__pycache__

poetry.lock
doc/sphinx/_build
doc/sphinx/source/api

*.dot

ANCHOR.ini

compile_commands.json

.DS_Store

.swiftpm
